.btn {
  @include transition();
  @include flex-center('center');
  @include transition();
  @include position();
  @include innerspace(0.8rem, 1.2rem);
  font-family: $button-font-face;
  text-transform: uppercase;
  font-weight: 300;

  border: 0;
  appearance: none;
  background: transparent;
  color: color('white');

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  > span {
    @include position;
    z-index: 5;
  }

  &:after {
    content: '';
    @include position(absolute, 0, 0);
    @include size(100%);
    background: lighten(color('primary'), 10%);
    border-radius: 20px;
    z-index: 1;
  }

  &--shadowed {
    @include position;
    z-index: 2;

    &:before {
      content: '';
      background: #ff9900;
      @include size(70%, 100%);
      @include position(absolute, 15%, 0, auto, auto);
      box-shadow: 0px 15px 33px -10px rgba(0, 0, 0, 0.3);
      z-index: -1;
    }
  }

  // @include transition(padding);

  &--secondary {
    &:after {
      background-color: darken(#076169, 2%);
    }
  }

  &--round {
    @include size(64px);
    @include innerspace(24px);
    @include transition();
    background: color('white');
    color: color('action');
    font-weight: 600;
    line-height: 0;
    border-radius: 50%;
    cursor: pointer;
  }

  &--round-small {
    @include innerspace(20px);
    @include size(24px);

    svg {
      @include size(16px);
    }
  }

  &.isSubmitting {
    @include innerspace(0.8rem, 0.95rem);
    border-radius: 100%;
  }

  .gratitude-icon {
    fill: color('action');
  }

  &--delete {
    display: block;
    color: color('white');
    background: darken(color('primary'), 2%);

    &.confirm {
      background: color('accent');
    }
  }

  &--hamburger {
    @include size(40px);
    background: none;

    span {
      @include position(absolute, 5px, 8px);
      background: color('white');
      display: inline-block;
      width: calc(100% - 16px);
      height: 1px;

      &:nth-child(1) {
        top: 16px;
        width: calc(80% - 16px);
      }
      &:nth-child(2) {
        top: 24px;
        width: calc(90% - 16px);
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  .spinner {
    .path {
      stroke: #FFF;
    }
  }
}

