.contenteditableHeader {
  @extend %headings;
  @include font-size(56px);
  @include innerspace(2rem, 0rem);
  color: color('white');
  background: none;
  border: 0;
  appearance: none;
  line-height: 4rem;
  overflow: hidden;
  word-break: break-all;

  &:focus {
    outline: none;
  }

  b {
    font-weight: 700;
  }

  i {
    font-style: italic;
  }

  &.ghosted {
    opacity: 0.2;
    filter: blur(4px);
  }

}

.contenteditableBody {
  @include font-size(18px);
  @include innerspace(0rem, 0rem);
  color: color('white');
  background: none;
  border: 0;
  appearance: none;
  line-height: 2rem;
  word-break: break-all;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  b {
    font-weight: 700;
  }

  i {
    font-style: italic;
  }

  &--edit {
    @include font-size(16px);
  }

  &.ghosted {
    opacity: 0.2;
    filter: blur(4px);
  }
}
